/* 全局样式 */
    *{
      padding: 0;
      margin: 0;
      border: none;
      list-style-type: none;
      font-family: "Microsoft Yahei";
    }
    body,html{
      color: #1e1e1e;
      background-color: rgb(0, 0, 0);
    }
    a{
      text-decoration: none;
      color: black;
    }

  
  
  